* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

ol {
  list-style: none;
}

header {
  width: 100%;
  background-color: #5fb9b9;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a {
  color: #000000;
  margin-left: 2rem;
}

header nav {
  display: flex;
  justify-content: space-around;
  margin-right: 5rem;
}
header nav button,
header nav a {
  color: #bee2c3;
  font-size: 2rem;
}
header nav button {
  background: none;
  color: #3486eb;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}
.post-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.title-wrapper {
  width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #288391;
  color: #f9e0ae;
  padding: 1rem;
}
.post-text {
  width: 60rem;
  height: 7rem;
  border: 3px solid #25aec0;
  border-radius: 5px;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.comment-wrapper {
  text-align: right;
}
.single-post-wrapper {
  width: 60rem;
  margin: 0 auto;
}
.comments-wrapper h2 {
  color: #21889a;
  border-bottom: 1px solid #135a7b;
}
.comment-form {
  margin-top: 1rem;
}
.comment-form textarea {
  width: 100%;
  height: 5rem;
  padding: 0.5rem;
  color: #62c8c5;
  background-color: #e9dcc3;
}
.comment-form button {
  position: relative;
  top: 0;
  float: right;
  background-color: #155b77;
  color: #f9e0ae;
  padding: 0.5rem;
  border-radius: 5px;
}
.comment-form button:hover {
  top: 2px;
}
.comment {
  margin-top: 1rem;
}
.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-wrapper h2 a {
  color: #0e5068;
  margin-top: 1rem;
  font-size: 3rem;
}
.dashboard-wrapper section {
  margin-top: 3rem;
}
.dashboard-title {
  text-align: center;
  color: #0e4168;
  font-size: 2rem;
}
.edit-post-btn,
.add-post-btn,
.delete-post-btn,
.save-post-btn,
.create-btn,
.submit-login,
.submit-signup {
  background-color: #1583a5;
  color: #e9dcc3;
  padding: 0.5rem;
  border-radius: 5px;
}
.dashboard-wrapper section ol li {
  margin-bottom: 5rem;
}
.edit-post,
.add-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back-btn-wrapper {
  margin-top: 1rem;
}
.back-btn {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: #327194;
  color: #e9dcc3;
  font-size: 2rem;
  border-radius: 5px;
}
.edit-post h2,
.add-post h2 {
  color: #0e4968;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.edit-post-form div,
.add-post div {
  display: flex;
  flex-direction: column;
}
#post-title {
  padding: 0.5rem;
  width: 20rem;
  margin-bottom: 1rem;
  color: #682c0e;
  background-color: #e9dcc3;
  border-radius: 5px;
}
#post-text {
  padding: 0.5rem;
  height: 5rem;
  color: #2676a1;
  background-color: #e9dcc3;
  border-radius: 5px;
}
.save-post-btn {
  margin-top: 0.5rem;
}
.delete-post-btn {
  margin-top: 1rem;
  background: red;
}
.create-btn {
  margin-top: 0.5rem;
  width: 100%;
}

.login-wrapper,
.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-wrapper h2,
.signup-wrapper h2 {
  color: #0e5268;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#login-form div label,
#signup-form div label {
  display: block;
  margin-top: 1rem;
  color: #0e4668;
  font-size: 1.2rem;
}
#login-form div input,
#signup-form div input {
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: #0e4668;
}
.submit-login,
.submit-signup {
  margin-top: 1rem;
  width: 100%;
}
.create-account-wrapper {
  margin-top: 1rem;
}
.create-account-wrapper {
  color: rgb(95, 11, 95);
  font-size: 1rem;
}
main {
  margin-bottom: 30rem;
}
footer {
  width: 100%;
  height: 10rem;
  color: #e9dcc3;
  background: #0244a7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media screen and (max-width: 1100px) {
  .title-wrapper,
  .post-text,
  .single-post-wrapper {
    width: 50rem;
  }
}
@media screen and (max-width: 900px) {
  .title-wrapper,
  .post-text,
  .single-post-wrapper {
    width: 30rem;
  }
}
@media screen and (max-width: 800px) {
  header nav button,
  header nav a {
    font-size: 1.5rem;
  }
  .back-btn {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7rem;
  }
  header h1 {
    margin-top: 1rem;
  }
  header nav {
    margin: 1rem 0;
  }
  .edit-post h2 {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 540px) {
  .title-wrapper,
  .post-text,
  .single-post-wrapper {
    width: 20rem;
  }
  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .title-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .post-text {
    height: 13rem;
  }
}
@media screen and (max-width: 400px) {
  .title-wrapper,
  .post-text,
  .single-post-wrapper {
    width: 15rem;
  }
  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .title-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
